.index-main{
    height: calc(100vh - 75px);
}
.wallpaper-index{
    background-image: url("./img/fondo-pantalla-principal.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
 }

 .container-index{
     display: flex;
     justify-content: flex-end;
 }

 .review{
     background: #05387E;
     border-radius: 15px;
     margin: 40px;
     max-width: 60%;
 }

 h1,p{
     text-align: center;
     padding: 15px;
 }

 p{
    text-align: justify;
    font-size:20px;
}
 .link-gallery{
     padding: 15px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
 }
 .btn-pokebola{
     width: 50px;
     padding: 7px;
     cursor: pointer;
     transition:.10s ease-in-out
 }
 .btn-pokebola:hover{
     transform: scale(1.5);
 }