header{
    background-color: #043375;
    position: fixed;
    width: 100%;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

.flex{
    display: flex;
}

 .flex-mind{
     flex: 1;
}

/* estilos de encabezado*/
.page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header--item-pokebola{
   display: flex;
   align-items: center;
   justify-content: end;
}

.btn-logo{
   width: 80px;
   padding:7px ;
   cursor: pointer;
}

.btn-pokebola{
   width: 40px;
   padding: 7px;
}

.search{
   background: #FFFFFF;
   border: 1px solid silver;
   border-radius: 10px;
   padding: 7px;
   height: 30px;
}

.btn-search{
   text-align: center;
   color: rgb(119, 119, 119);
}

.search input{
   width: 240px;
   height: 25px;
   padding: 0 20px;
   font-size: 18px;
   color:black;
   outline: none;
   border: 0;
}

/* estilos al fondo de la galeria */
.wallpaper{
   background-image: url("./img/fondo-pantalla.jpeg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   min-height: 500px;
   width: 100%;
}

/* estilos de los botones de filtrar, ordenar y estadistica */
.button-fil-sort{
    margin-top: 70px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #166ECB;
    margin: 0;
}

.menu-horizontal li a{
    display: block;
    padding: 15px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-horizontal li:hover{
    background:#1059AB;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color:#166ECB;
    padding: 0;
}

.menu-vertical li {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    color: #FFFFFF;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: #043375;
}

.menu-vertical li a{
    display: block;
    color: #FFFFFF;
    padding: 15px 15px 15px 20px;
}
/* estilos al contenedor de tarjetas */
.container-pokemon{
    max-width: 850px;
    display: flex;
    gap: 20px 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;
    margin: auto;
}
/* estilos de las tarjetas de pokemones*/
.info-card-pokemon{
    font-size: 12px;
    cursor: pointer;
    max-width: 170px;
    width: 100%;
    transition: transform 300ms ease-in-out;
}

.info-card-pokemon:hover{
    transform: scale(1.3);
}

.img-pokemon{
    background:#FFDA4E;
    display: flex;
    align-content: center;
    justify-content: center;
}

.pokemon{
    max-width: 120px;
    height: 120px;
}

.data-pokemon{
    background:#05387E;
    padding: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* estilos al footer */
.writer{
    color:#FFFFFF;
    text-align: center;
    padding: 28px 0px;
    background-color: #074b95;
}
/* estilos del modal de filtrado */
.filter-sheet{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 69px;
    display:none;
}

.filter-modal {
    background-color: #1059AB;
    color: #FFFFFF;
    display:flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    max-width: 300px;;
}

.show-filter{
    display: block;
}

.modal{
    width: 150px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.scroll{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    height:100px;
    height: 100px;
    margin-top: 10px;
}

.filter-option{
    color: #FFFFFF;
    background-color: #1059AB;
    border: none;
    height: auto;
    cursor: pointer;
}

.btn-close-filter{
    color: #4d4d4d;
    background-color:#FFDA4E;
    cursor: pointer;
    border-radius:5px;
    border:0px;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 7px;
    width: 100px;
    transition:background-color .10s ease-in-out
}

.btn-close-filter:hover{
    background-color: #b90000;
    color:#FFFFFF;
}

.icon-filter{
    display: flex;
}
/* estilos del modal de filtrado */
.message{
    display: none;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}
.show-message{
    display: flex;
}
